body {
  display: flex;
  background-color: #282726;
  color: #8E8E8E;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  max-width: 594px;
  margin: auto;
  max-height: 720px;
}

.title {
  color: #F9F4DA;
  font-size: 20px;
  margin-bottom: 0;
}

.instructions {
  margin-top: 5px;
  font-size: 14px;
}

.top-container {
  max-width: 352px;
  margin: auto;
}

.languages-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
}

.languages-container > div {
  padding: 2px 5px;
  border-radius: 3px;
}

div.answer-letter-container {
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #F9F4DA;
  background-color: #323232;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9F4DA;
}

div.answers-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 40px;
}

.letters-container {
  margin: auto;
  margin-top: 40px;
  max-width: 480px;
}

.letter-btns {
  width: 40px;
  height: 40px;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px;
  text-transform: uppercase;
  font-size: 16px;
}

.letter-btns.status-neutral {
  background-color: #FCBA29;
}

.letter-btns.status-wrong {
  background-color: #EC5D49;
}

.letter-btns.status-correct {
  background-color: #10A95B;
}
